body {
	background: #2C001E;
	color: #FFF;
	font-family: 'Ubuntu Mono', sans-serif;
	font-size: 18px;
}
.navbar {
	font-family: 'Ubuntu', sans-serif;
}
.header {
	margin-top: 15px;
}
.header a {
	color: #FFF;
}
.hostname {
	color: #51d040;
}
.path { 
	color: #606a87;
}
.blinking-cursor {
  color: #2E3D48;
  font-weight: bolder;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes typing {
    from { width: 100% }
    to { width:0 }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}
